* {
    padding: 0;
    margin: 0;
    box-sizing: grid;
}

.kanban-container {
    display: flex;
    padding: 30px;
    background-color: rgb(19, 82, 82);
    width: 800px;
    border-radius: 10px;
}


/* kanbanColumn  */

.kanban-column {
    flex: 1;
}

.kanban-column:not(:last-child) {
    margin-right: 30px;
}


/* kanbanTitle */

.kanban-title {
    font-size: 30px;
    color: white;
    user-select: none;
}


/* kanbanItem */

.kanban-item {
    border: 1px solid red;
    padding: 5px;
}


/* kanbanInput */

.kanban-input {
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
}


/* dropZone */

.kanban-dropzone {
    height: 10px;
    transition: background .15s, height .15s;
}

.kanban-dropzone-active {
    height: 30px;
    background: rgba(39, 96, 104, 0.726);
}